.chatPage{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .wrapper{
        flex: 1;
        overflow: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        ::-webkit-scrollbar {
            width: 0px;
          }

        .chat{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            p, li{
                margin: 10px -px;
            }

            .message{
                padding: 20px;

                &.user{
                    background-color: rgb(44, 44, 44);
                    border-radius: 20px;
                    max-width: 80%;
                    align-self: flex-end;
                }
            }

        }

    }
}